/* Estilo general del navbar */
.navbar {
  background-color: #39832e; 
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo */
.navbar-logo {
  margin-right: auto;
}

.navbar-logo .logo-img {
  height: 80px;
  margin-right: 2rem;
}

/* Links del menú */
.navbar-links {
  display: flex;
  gap: 2rem;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

/* Mostrar en pantallas pequeñas cuando isMobileMenuOpen es true */
.navbar-links.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #39832e;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

.navbar-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  position: relative;
  margin-bottom: 0.5rem;
}

.navbar-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #333;
  transition: width 0.3s ease-in-out;
}

.navbar-link:hover::after {
  width: 100%;
}

.navbar-link:hover {
  color: #555;
}

/* Botón móvil */
.navbar-toggle {
  display: none;
  background-color: transparent;
  color: #333;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.navbar-toggle:hover {
  color: #555;
}

/* Diseño responsivo */
@media (max-width: 768px) {
  .navbar-links {
    display: none; /* Ocultar por defecto en pantallas pequeñas */
  }
  .navbar-toggle {
    display: block;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-logo {
    margin-bottom: 1rem;
    margin-right: 0;
  }
}