/* PaginaMain.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ece9e9;
}

.pagina-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  text-align: center;
  padding: 0 20px; /* Añade un poco de relleno para evitar que se toque los bordes */
  box-sizing: border-box; /* Incluye el padding en el cálculo del ancho y alto */
}

.image-container {
  margin-bottom: 20px;

}

.center-image {
  max-width:40%;   /* Tamaño estándar para pantallas grandes */
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.btn-energia {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #28a745;  /* Botón verde */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;

}

.btn-energia:hover {
  background-color: #218838;  /* Un verde más oscuro al pasar el ratón */
}

/* Media Queries para hacer la página responsive */
@media (max-width: 768px) {  /* Para pantallas más pequeñas como tabletas */
  .center-image {
    max-width: 60%; /* Imagen más grande en pantallas medianas */
  }

  .btn-energia {
    padding: 12px 25px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {  /* Para dispositivos móviles */
  .center-image {
    max-width: 80%; /* Imagen aún más grande en móviles */
  }

  .btn-energia {
    padding: 10px 20px;
    font-size: 14px;
  }
}
